<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bean.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bean.model.User" >
    <id column="userID" property="userid" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="userDate" property="userdate" jdbcType="VARCHAR" />
    <result column="userInfo" property="userinfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userID, userName, userPassword, userDate, userInfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where userID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from users
    where userID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.User" >
    insert into users (userID, userName, userPassword, 
      userDate, userInfo)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{userdate,jdbcType=VARCHAR}, #{userinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.User" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="userpassword != null" >
        userPassword,
      </if>
      <if test="userdate != null" >
        userDate,
      </if>
      <if test="userinfo != null" >
        userInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="userdate != null" >
        #{userdate,jdbcType=VARCHAR},
      </if>
      <if test="userinfo != null" >
        #{userinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.User" >
    update users
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="userdate != null" >
        userDate = #{userdate,jdbcType=VARCHAR},
      </if>
      <if test="userinfo != null" >
        userInfo = #{userinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.User" >
    update users
    set userName = #{username,jdbcType=VARCHAR},
      userPassword = #{userpassword,jdbcType=VARCHAR},
      userDate = #{userdate,jdbcType=VARCHAR},
      userInfo = #{userinfo,jdbcType=VARCHAR}
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
  
  <select id="getUserList" resultMap="BaseResultMap">
  	select * from users
  </select>
  
  <select id="getUserByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from users where userName=#{username,jdbcType=VARCHAR}
  </select>
</mapper>